.titulo-bienvenida {
  font-size: 55px;
  color: #df800d;
  text-align: center;
  margin-top: 20px;
  font-family: "Arial", sans-serif;
}

.tarjeta-productos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}
